@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-color: #f8f8f8;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
}

h2 {
  margin: 0 0 16px 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
}

.name {
  margin: 20px 0 12px 0;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 28px;
}

.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.links {
  margin: 0 0 24px 0;
}

.publications {
  list-style: none;
  padding: 0;
  margin: 0;
}

.publication {
  margin-bottom: 20px;
}

.venue-flag {
  color: darkred;
  font-weight: bold;
}

span.highlight {
  background-color: #ffffd0;
}
